@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  /* primary */
  --light-red: #ff5757;
  --orangey-yellow: #ffb01f;
  --green-teal: #00bd91;
  --cobalt-blue: #1125d4;
  /* gradiant */
  --bg-light-slate-blue: #7957ff;
  --bg-light-royal-blue: #2e2be9;
  --circle-violet-blue: #4e21ca;
  --circle-persian-blue: #2421ca00;
  /* neutral */
  --pale-blue: #ebf1ff;
  --light-lavender: #c8c7ff;
  --dark-gray-blue: #303b5a;
}

body {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    var(--bg-light-slate-blue),
    var(--bg-light-royal-blue)
  );
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.result--title {
  margin: 1.2em 0;
  color: var(--pale-blue);
  font-weight: 700;
  opacity: 70%;
}

.result--circle {
  background: linear-gradient(
    var(--circle-violet-blue),
    var(--circle-persian-blue)
  );
  border-radius: 50%;
  height: 7em;
  width: 7em;
}

.result--circle__note {
  font-size: 3em;
  color: white;
  display: block;
  text-align: center;
  font-weight: 800;
  margin-top: 0.5em;
  line-height: 1em;
}

.result--circle__note-max {
  color: var(--pale-blue);
  opacity: 50%;
  font-size: 0.9em;
}

.result--commentaire {
  margin: 1em 0 0.3em 0;
  color: white;
  font-size: 1.3em;
  font-weight: 700;
}

.result--compare {
  margin-bottom: 2.5em;
  color: var(--pale-blue);
  opacity: 80%;
  font-size: 0.8em;
  max-width: 70%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
